<div style="margin: 30px;" *ngIf="isReady==true">
    <form [formGroup]="creidtform" >
      <div>
        <span class="label">Montant du credit</span>
        <input class="form-control" type="text" formControlName="montant" aria-label="Disabled input example">

      </div>
      <mat-error *ngIf="creidtform.get('montant')?.hasError('required')">
        Champ obligatoire
      </mat-error>
      <div class="input-group mb-3" style="margin: 10px;">
        <label class="input-group-text" for="inputGroupFile01">Carte bancaire :</label>
        <input type="file" class="form-control" id="inputGroupFile01" (change)="selectFile($event);getcardinfo()">
      </div>
      <div >
        <span class="label">Iban</span>
        <input class="form-control" type="text" formControlName="iban"  >
        <mat-error *ngIf="creidtform.get('iban')?.hasError('required')">
          Champ obligatoire
        </mat-error>
      </div>
      <div style="margin-top: 30px;">
        <span class="label">nombre du mois</span>
        <input class="form-control" type="text" formControlName="nbrdumois">
        <mat-error *ngIf="creidtform.get('nbrdumois')?.hasError('required')">
          Champ obligatoire
        </mat-error>
      </div>

    </form>
  </div>
  <button mat-button class="btn btn-dark btn-lg " [disabled]="creidtform.invalid" (click)="modifier()" style="margin-top: 50px;">Confirmer</button>
  