<div class="container-fluid mt--7">

    <div class="card shadow" style="height: 500px;background-image: url('../assets/entreprise.jpg'); background-size: 50% auto;">
        <form [formGroup]="magasinform" style="text-align: center; margin-top: 10%;">
        
            <label>
                Adresse
            </label>
                <mat-form-field appearance="fill">
                    <mat-label>Adresse</mat-label>
                    <textarea matInput formControlName="addresse"></textarea>
                </mat-form-field>
                <mat-error *ngIf="magasinform.get('addresse')?.hasError('required')">
                    Champ obligatoire
                  </mat-error>
        </form>
        <form [formGroup]="entform" style="text-align: center" >
            <label>
                Entreprise
            </label>
            <mat-form-field appearance="fill">
                <mat-label>Choisir une option</mat-label>
                <select  matNativeControl formControlName="entrpriseId">
                      <option value="" selected></option>
                      <option *ngFor="let c of listofEntreprise" [value]="c.entrpriseId">{{ c.nom }}</option>

                </select>
            </mat-form-field>
            <mat-error *ngIf="entform.get('entrpriseId')?.hasError('required')">
                Champ obligatoire
              </mat-error>
        </form>
            <div mat-dialog-actions>

                <button mat-button class="btn btn-dark btn-lg " [disabled]="magasinform.invalid||entform.get('entrpriseId')?.hasError('required')" 
                (click)="ajouter()" style="margin-top: 50px; margin-left: 45%;">Confirmer</button>
            </div>

        <form>
            
        </form>
    </div>
</div>