<div class="container-fluid mt--7" *ngIf="isReady==true">

    <div class="card shadow" style="height: 500px;background-image: url('../assets/entreprise.jpg'); background-size: 50% auto;">
        <div style="text-align: center;margin-top: 10%;margin-left: 130px;">
            <form [formGroup]="produiteform">
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Nom</mat-label>
                        <input matInput formControlName="nom">
                    </mat-form-field>

                </div>
                <mat-error *ngIf="produiteform.get('nom')?.hasError('required')">
                    Champ obligatoire
                  </mat-error>
                <div >
                    <mat-form-field appearance="fill">
                        <mat-label>Prix</mat-label>
                        <input matInput type="number" formControlName="prix">
                    </mat-form-field>
                </div>
                
                <mat-error *ngIf="produiteform.get('prix')?.hasError('required')">
                    Champ obligatoire
                  </mat-error>
            </form>
        </div>


        <div mat-dialog-actions>

            <button mat-button class="btn btn-dark btn-lg " 
            [disabled]="produiteform.invalid"  (click)="modifier()"
             style="text-align: center;margin-left: 400px;">Confirmer</button>
        </div>
    </div>
</div>