
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Login</p>

                <form class="mx-1 mx-md-4" [formGroup]="loginForm">
                  <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
                    <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div> 
                  <div class="grid p-fluid">
                    <div class="d-flex flex-row align-items-center mb-4">
                      <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input type="text" pInputText placeholder="Username" formControlName="username" name="username">
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                        <input type="password" placeholder="password" pPassword formControlName="password"
                          name="password" />
                      </div>
                    </div>

                    <div class="row mb-4">
                      <div class="col d-flex justify-content-center">
                        <!-- Checkbox -->
                        <!-- <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                          <label class="form-check-label" for="form2Example31" style="color: #B4886B;font-weight: bold;"> Remember me </label>
                        </div> -->
                      </div>

                      <div class="col">
                        <!-- Simple link -->
                        <a style="color: #B4886B;font-weight: bold;"routerLink="/forgotpassword">Mot de passe oublié ?</a>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <button pButton type="button" label="sign in" (click)="handleLogin()"></button>
                    </div>


                  </div>

                </form>


              <!-- <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="../assets/money.jpeg"
                  class="img-fluid" alt="Sample image"
                  height="100%"
                  width="100%">

              </div> -->
