<section >
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center  fw-bold mb-5 mx-1 mx-md-4 mt-4">Information</p>

                                <form class="mx-1 mx-md-4" *ngIf="isReady" [formGroup]="userform">
                                    <label>
                                        Identifiant
                                    </label>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>

                                            <input type="text" pInputText formControlName="username"
                                                placeholder="Identifiant">


                                        </div>
                                        <mat-error class="alert alert-danger" *ngIf="userform.get('username')?.hasError('required')">
                                            Champ obligatoire
                                          </mat-error>
                                          <mat-error class="alert alert-danger" *ngIf="userform.get('username')?.hasError('usernameTaken')">
                                            Username existe .
                                          </mat-error>
                                    </div>

                                    <label>
                                        Nom
                                    </label>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>

                                            <input type="text" pInputText formControlName="nom" placeholder="Nom">

                                        </div>
                                        <mat-error class="alert alert-danger" *ngIf="userform.get('nom')?.hasError('required')">
                                            Champ obligatoire
                                          </mat-error>
                                    </div>
                                    <label>
                                        Prénom
                                    </label>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>

                                            <input type="text" pInputText formControlName="prenom" placeholder="Prénom">


                                        </div>
                                        <mat-error class="alert alert-danger" *ngIf="userform.get('prenom')?.hasError('required')">
                                            Champ obligatoire
                                          </mat-error>
                                    </div>
                                    <label>
                                        E-mail 
                                    </label>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon"><i class="pi pi-inbox"></i></span>


                                            <input type="text" pInputText formControlName="email" placeholder="E-mail ">


                                        </div>
                                        <mat-error class="alert alert-danger"  *ngIf="userform.get('email')?.hasError('required')">
                                            Champ obligatoire
                                          </mat-error>
                                          <mat-error class="alert alert-danger" *ngIf="userform.get('email')?.hasError('email')">
                                            email sous la forme "exemple@exemple.xxx"
                                          </mat-error>
                                          <mat-error class="alert alert-danger" *ngIf="userform.get('email')?.hasError('emailTaken')">
                                            email existe .
                                          </mat-error>
                                    </div>
                                    <label>
                                        Numéro de téléphone
                                    </label>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>


                                            <input type="text" pInputText formControlName="tel" placeholder="Numéro de téléphone">



                                        </div>
                                        <mat-error class="alert alert-danger" *ngIf="userform.get('tel')?.hasError('required')">
                                            Champ obligatoire
                                          </mat-error>
                                    </div>

                                    <label>
                                        Adresse
                                    </label>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon"><i class="pi pi-building"></i></span>

                                            <textarea  id="float-input" style="height: 100px;" pInputText formControlName="adresse"
                                                placeholder="Adresse"></textarea>



                                        </div>
                                        <mat-error class="alert alert-danger" *ngIf="userform.get('adresse')?.hasError('required')">
                                            Champ obligatoire
                                          </mat-error>
                                    </div>
                                    <a style="color: #B4886B;font-weight: bold;" href="#!"[routerLink]="['/modifier-mot-de-passe', this.user.id ]">Modifier le mot de passe</a>
                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button [disabled]="userform.invalid" type="button" class="btn btn-primary btn-lg"
                                            (click)="modifier()">Confirmer</button>
                                    </div>

                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img src="assets/Vermeg_Office.jpg" height="100%" width="100%" 
                                 >

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
