<form [formGroup]="entform" style="text-align: center">
    <label>entreprise</label>
    <mat-form-field *ngIf="loading">
      <mat-label>choisir une option</mat-label>
      <mat-select formControlName="entrpriseId" (selectionChange)="getmagasins($event)">
        <mat-option *ngFor="let option of listofEntreprise" [value]="option.entrpriseId">
          {{ option.nom }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <div class="chart-container" *ngIf="isChartOptionsDefined()" class="statistique-magasin-container">
    <!-- Chart code here -->
    <apx-chart
      #apexChart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions"
      [responsive]="chartOptions.responsive"
      [xaxis]="chartOptions.xaxis"
      [legend]="chartOptions.legend"
      [fill]="chartOptions.fill"
    ></apx-chart>
  </div>
  

  
  