<section>
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">formulaire d'ajout</p>

                                <form class="mx-1 mx-md-4" [formGroup]="userform">
                                    <label>
                                        Identifiant 
                                    </label>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>

                                            <input type="text" pInputText formControlName="username"
                                                placeholder="Identifiant">


                                        </div>
                                    </div>
                                    <mat-error *ngIf="userform.get('username')?.hasError('required')">
                                        Champ obligatoire
                                      </mat-error>
                                      <mat-error class="alert alert-danger" *ngIf="userform.get('username')?.hasError('usernameTaken')">
                                        Identifiant existe .
                                      </mat-error>
                                    <label>
                                        Nom 
                                    </label>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>

                                            <input type="text" pInputText formControlName="nom" placeholder="Nom">

                                        </div>

                                    </div>
                                    <mat-error *ngIf="userform.get('nom')?.hasError('required')">
                                        Champ obligatoire
                                      </mat-error>
                                    <label>
                                        Prénom 
                                    </label>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>

                                            <input type="text" pInputText formControlName="prenom" placeholder="Prénom">


                                        </div>
                                    </div>
                                    <mat-error *ngIf="userform.get('prenom')?.hasError('required')">
                                        Champ obligatoire
                                      </mat-error>
                                    <label>
                                        E-mail 
                                    </label>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon"><i class="pi pi-inbox"></i></span>


                                            <input type="text" pInputText formControlName="email" placeholder="E-mail">


                                        </div>
                                    </div>
                                    <mat-error  *ngIf="userform.get('email')?.hasError('required')">
                                        Champ obligatoire
                                      </mat-error>
                                      <mat-error *ngIf="userform.get('email')?.hasError('email')">
                                        email sous la forme "exemple@exemple.xxx"
                                      </mat-error>
                                      <mat-error *ngIf="userform.get('email')?.hasError('emailTaken')">
                                        email existe .
                                      </mat-error>
                                    <label>
                                        Mot de passe 
                                    </label>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>


                                            <input type="password" pPassword formControlName="password"
                                                placeholder="Mot de passe">



                                        </div>

                                    </div>
                                    <mat-error *ngIf="userform.get('password')?.hasError('required')">
                                        Champ obligatoire
                                      </mat-error>
                                    <label>
                                       Confirmer le mot de passe 
                                    </label>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>


                                            <input type="password" pPassword formControlName="confirmPassword"
                                                placeholder="Confirmer le mot de passe">

                                        </div>

                                        
                                    </div>
                                    <mat-error *ngIf="userform.get('confirmPassword')?.hasError('required')">
                                        Champ obligatoire
                                      </mat-error>
                                    <div >
                                        <div class="alert alert-danger"
                                            *ngIf="userform.get('confirmPassword')?.hasError('confirmedValidator')">Les mots de passe ne correspondent pas
                                        </div>
                                    </div>
                                    <label>
                                        Numéro de téléphone 
                                    </label>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>


                                            <input type="number" pInputText formControlName="tel" placeholder="Numéro de téléphone">



                                        </div>

                                    </div>
                                    <mat-error *ngIf="userform.get('tel')?.hasError('required')">
                                        Champ obligatoire
                                      </mat-error>
                                    <label>
                                        Adresse 
                                    </label>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon"><i class="pi pi-building"></i></span>

                                            <textarea  id="float-input" style="height: 100px;" pInputText formControlName="adresse"
                                                placeholder="Adresse"></textarea>



                                        </div>

                                    </div>
                                    <mat-error *ngIf="userform.get('adresse')?.hasError('required')">
                                        Champ obligatoire
                                      </mat-error>
                                    <div style="display: flex;">
                                        <label style="margin-top: 10%;">
                                            Role 
                                        </label>
                                        <mat-form-field *ngIf="role==='ROLE_ADMIN'" appearance="fill">
                                            <mat-label>Choisir une option</mat-label>
                                            <mat-select matNativeControl formControlName="role">
                                                <!-- <option value="" selected></option>
                                               <option *ngFor="let c of erole | keyvalue" [value]="c.value">{{c.value}}
                                                </option> -->
                                                <mat-option value="ROLE_ENTREPRENEUR" selected> Entrpreneur</mat-option>
                                                <mat-option value="ROLE_ADMIN"> admin</mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                        <mat-form-field *ngIf="role==='ROLE_ENTREPRENEUR'" appearance="fill">
                                            <mat-label>Choisir une option</mat-label>
                                            <mat-select matNativeControl formControlName="role">
                                                <mat-option value="ROLE_AGENT" selected> Agent</mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                    </div>
                                    
                                    <mat-error *ngIf="userform.get('role')?.hasError('required')">
                                        Champ obligatoire
                                      </mat-error>
                                </form>
                                <form *ngIf="role=='ROLE_ENTREPRENEUR'" [formGroup]="entform" style="text-align: center">
                                    <label>
                                        Entreprise 
                                    </label>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Choisir une option</mat-label>
                                        <mat-select formControlName="entrpriseId" (selectionChange)="getmagasins($event)">
                                          <mat-option *ngFor="let c of listofEntreprise" [value]="c.entrpriseId">
                                            {{ c.nom }}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                      <mat-error *ngIf="entform.get('entrpriseId')?.hasError('required')">
                                        Champ obligatoire
                                      </mat-error>
                                </form>
                                <form *ngIf="role=='ROLE_ENTREPRENEUR'" [formGroup]="magform"
                                    style="text-align: center">
                                    <label>
                                        Magasin 
                                    </label>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Choisir une option</mat-label>
                                        <mat-select matNativeControl formControlName="magasinId">
                                            <mat-option *ngFor="let c of listofMagasin" [value]="c.magasinId">{{ c.addresse
                                                }}</mat-option>

                                        </mat-select>
                                    </mat-form-field>
                                    <mat-error *ngIf="magform.get('magasinId')?.hasError('required')">
                                        Champ obligatoire
                                      </mat-error>
                                </form>
                                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                    <button *ngIf="role=='ROLE_ENTREPRENEUR'"  type="button" class="btn btn-primary btn-lg"
                                        (click)="ajouter()" [disabled]="userform.invalid||entform.get('entrpriseId')?.hasError('required')||magform.get('magasinId')?.hasError('required')"
                                        >Confirmer
                                    </button>
                                    <button *ngIf="role!='ROLE_ENTREPRENEUR'"  type="button" class="btn btn-primary btn-lg"
                                    (click)="ajouter()" [disabled]="userform.invalid"
                                    >Confirmer
                                </button>
                                </div>
                            </div>

                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img src="assets/Vermeg_Office.jpg" height="100%" width="100%">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>