<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                                <form class="mx-1 mx-md-4" [formGroup]="userform">

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                                            <span class="p-float-label">
                                                <input id="float-input" type="text" pInputText
                                                    formControlName="username">
                                                <label for="float-input">username</label>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                                            <span class="p-float-label">
                                                <input id="float-input" type="text" pInputText formControlName="nom">
                                                <label for="float-input">nom :</label>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                                            <span class="p-float-label">
                                                <input id="float-input" type="text" pInputText formControlName="prenom">
                                                <label for="float-input">prenom :</label>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon"><i class="pi pi-inbox"></i></span>
                                            <span class="p-float-label">
                                                <span class="p-float-label">
                                                    <input id="float-input" type="text" pInputText
                                                        formControlName="email">
                                                    <label for="float-input">email</label>
                                                </span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                                            <span class="p-float-label">
                                                <span class="p-float-label">
                                                    <input id="float-input" type="password" pPassword
                                                        formControlName="password">
                                                    <label for="float-input">Password</label>
                                                </span>
                                            </span>
                                        </div>
                                    </div>


                                     <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="p-inputgroup">
                                          <span class="p-inputgroup-addon"><i class="pi pi-inbox"></i></span>
                                          <span class="p-float-label">
                                            <span class="p-float-label">
                                              <input id="float-input" type="text" pInputText formControlName="tel">
                                              <label for="float-input">tel </label>
                                            </span>
                                          </span>
                                        </div>
                                      </div>


                                      <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="p-inputgroup">
                                          <span class="p-inputgroup-addon"><i class="pi pi-inbox"></i></span>
                                          <span class="p-float-label">
                                            <span class="p-float-label">
                                              <input id="float-input" type="text" pInputText formControlName="adresse">
                                              <label for="float-input">adresse</label>
                                            </span>
                                          </span>
                                        </div>
                                      </div>
                                      
                                      <mat-form-field appearance="fill">
                                        <mat-label>Choose an option</mat-label>
                                        <select matNativeControl formControlName="roles" >
                                          <option value="" selected></option>
                                          <option *ngFor="let c of erole | keyvalue" [value]="c.value">{{c.value}}</option>
                                        </select>
                                      </mat-form-field>
                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button type="button" class="btn btn-primary btn-lg" (click)="ajouter()">Register</button>
                                    </div>

                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img src="assets/vermeg.jpg" height="100%" width="100%"
                                    class="img-fluid" alt="Sample image">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>