<mat-vertical-stepper [linear]="false" #stepper *ngIf="this.uisReaydu&&this.uisReaydp">

  <mat-step>
    <ng-template matStepLabel>formulaire du client</ng-template>
    <div style="margin: 30px;">
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupFile01">cin1:</label>
        <input type="file" class="form-control" id="inputGroupFile01" (change)="selectFile($event);getuserinfo()">
      </div>
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupFile01">cin2:</label>
        <input type="file" class="form-control" id="inputGroupFile01" (change)="selectFile($event);getuserinfo2()">
      </div>
      <form *ngIf="client!=null" [formGroup]="clientform">
        <div>
          <span class="label">nom</span>
          <input class="form-control" type="text" formControlName="nom">

        </div>
        <div style="margin-top: 30px;">
          <span class="label">prenom</span>
          <input class="form-control" type="text" formControlName="prenom">

        </div>
        <div style="margin-top: 30px;">
          <span class="label">email</span>
          <input class="form-control" type="text" formControlName="email">

        </div>

      </form>
      <form *ngIf="client2!=null" [formGroup]="clientform2">
        <div style="margin-top: 30px;">
          <span class="label">adresse</span>
          <input class="form-control" type="text" formControlName="adresse">

        </div>
      </form>
    </div>
    <div style="margin: 30px;">

      <button type="button" class="btn btn-primary" matStepperNext [disabled]="clientform2.invalid&&clientform.invalid">Next</button>

    </div>

  </mat-step>

  <mat-step>
    <form>
      <ng-template matStepLabel>Information</ng-template>

      <div style="margin: 30px;">
        <span class="label">adresse magasin </span><label>{{user.magasin.addresse}}</label>
      </div>
      <div style="margin: 30px;">
        <div>
          <span class="label ">nom de l'agent </span><label>{{user.nom}}</label>
          <span class="label ">prenom de l'agent </span><label>{{user.prenom}}</label>
        </div>
      </div>
      <div style="margin: 30px;">
        <span class="label">produits </span><label>{{produit.nom}}</label>
        <span class="label">reference du produit</span><label>{{produit.reference}}</label>
        <span class="label">prix du produit</span><label>{{produit.prix}} dt</label>
      </div>


    </form>

    <div style="margin: 30px;">
      <form [formGroup]="creidtform" *ngIf="uisReaydp">
        <div>
          <span class="label">montant du credit</span>
          <input class="form-control" type="text" formControlName="montant" aria-label="Disabled input example"
            [disabled]="isDisabled">

        </div>
        <div class="input-group mb-3" style="margin: 10px;">
          <label class="input-group-text" for="inputGroupFile01">carte bancaire :</label>
          <input type="file" class="form-control" id="inputGroupFile01" (change)="selectFile($event);getcardinfo()">
        </div>
        <div *ngIf="card!=null">
          <span class="label">iban</span>
          <input class="form-control" type="text" formControlName="iban"  >

        </div>
        <div style="margin-top: 30px;">
          <span class="label">nombre du mois</span>
          <input class="form-control" type="text" formControlName="nbrdumois">

        </div>

      </form>
    </div>

    <div style="margin: 30px;">
      <button type="button" class="btn btn-secondary" matStepperPrevious>Back</button>
      &nbsp;
      <button type="button" class="btn btn-primary" matStepperNext>Next</button>

    </div>

  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Information du client</ng-template>
    <form [formGroup]="clienteleigibiliteform">
      <mat-form-field appearance="fill" *ngFor="let column of columns">
        <mat-label>{{ columnTranslations[column].label }}</mat-label>
        <mat-select [formControlName]="column">
          <mat-option [value]="null">{{ placeholder }}</mat-option>
          <mat-option *ngFor="let option of uniqueValues[column]" [value]="option">
            {{ columnTranslations[column].values[option] }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="clienteleigibiliteform.get(column)?.hasError('required')">
          Veuillez choisir une option
        </mat-error>
      </mat-form-field>
    </form>
    
    
    
    
    
    


    <div style="margin: 30px;">
      <button type="button" class="btn btn-secondary" matStepperPrevious>Back</button>
      &nbsp;
      <button type="button" class="btn btn-primary" (click)="checkEligibility()" matStepperNext>Next</button>

    </div>

  </mat-step>
  <mat-step *ngIf="!isEligible">
    <ng-template matStepLabel>client non eligible</ng-template>
    <div style="margin: 30px;">
      <a class="url">sorry ! ce client n'est pas eligible pour un crédit </a>
      &nbsp;
    </div>
    <div>
      <button type="button" class="btn btn-warning" (click)="stepper.reset()">Reset</button>
      &nbsp;
      <button type="button" class="btn btn-secondary" matStepperPrevious>Back</button>
      &nbsp;
      <button type="button" class="btn btn-primary" (click)="submitr()">confirmer client</button>
    </div>
  </mat-step>
  <mat-step *ngIf="isEligible">
    <ng-template matStepLabel>signature du contrat</ng-template>
    <div style="margin: 30px;">
      <a class="url">terme du contrat</a>
      &nbsp;
      <button type="button" class="btn btn-success">signé contrat</button>
    </div>
    <div >
      <button type="button" class="btn btn-warning" (click)="stepper.reset()">Reset</button>
      &nbsp;
      <button type="button" class="btn btn-secondary" matStepperPrevious>Back</button>
      &nbsp;
      <button  type="button" class="btn btn-primary" (click)="submit()">confirmer</button>
    </div>
  </mat-step>

</mat-vertical-stepper>