<mat-vertical-stepper [linear]="false" #stepper *ngIf="this.uisReaydu&&this.uisReaydp&&this.ismagasinReady">

  <mat-step>
    <ng-template matStepLabel>formulaire du client</ng-template>
    <div style="margin: 30px;">
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupFile01">recto de la carte d'identité:</label>
        <input type="file" class="form-control" id="inputGroupFile01" (change)="selectFile($event);getuserinfo()">
      </div>

      <mat-error style="font-size: bold;" *ngIf="step0valid==false">
        choisir recto de la carte d'identité
      </mat-error>
      <div>
        <p-progressSpinner *ngIf="spinn" styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
         animationDuration=".5s"></p-progressSpinner>
      </div>
      
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupFile01">verso de la carte d'identité:</label>
        <input type="file" class="form-control" id="inputGroupFile01" (change)="selectFile($event);getuserinfo2()" 
        [disabled]="!step0valid">
        
      </div>
      <mat-error style="font-size: bold;" *ngIf="step1valid==false">
        choisir verso de la carte d'identité
      </mat-error>
      <div>
        <p-progressSpinner *ngIf="spinn1" styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
         animationDuration=".5s"></p-progressSpinner>
      </div>
      
      <form *ngIf="client!=null" [formGroup]="clientform">
        <div>
          <span class="label">nom</span>
          <input class="form-control" type="text" formControlName="nom">

        </div>
        <mat-error style="font-size: bold;" *ngIf="clientform.get('nom')?.hasError('required')">
          champ obligatoire
        </mat-error>
        <div style="margin-top: 30px;">
          <span class="label">prenom</span>
          <input class="form-control" type="text" formControlName="prenom">

        </div>
        <mat-error style="font-size: bold;" *ngIf="clientform.get('prenom')?.hasError('required')">
          champ obligatoire
        </mat-error>
        <div style="margin-top: 30px;">
          <span class="label">email</span>
          <input class="form-control" type="text" formControlName="email">

        </div>
        <mat-error style="font-size: bold;" *ngIf="clientform.get('email')?.hasError('required')">
          champ obligatoire
        </mat-error>
        <mat-error  style="font-size: bold;"*ngIf="clientform.get('email')?.hasError('email')">
          email sous la forme "exemple@exemple.xxx"
        </mat-error>
      </form>
      <form *ngIf="client2!=null" [formGroup]="clientform2">
        <div style="margin-top: 30px;">
          <span class="label">addresse</span>
          <input class="form-control" type="text" formControlName="adresse">

        </div>
        <mat-error *ngIf="clientform2.get('adresse')?.hasError('required')">
          champ obligatoire
        </mat-error>
      </form>
    </div>
    <div style="margin: 30px;">

      <button type="button" class="btn btn-primary" matStepperNext *ngIf="step0valid==true&&step1valid==true&&!clientform.get('email')?.hasError('required')&&!clientform.get('email')?.hasError('email');">Next</button>

    </div>

  </mat-step>

  <mat-step *ngIf="step0valid==true&&step1valid==true&&!clientform.get('email')?.hasError('required')&&!clientform.get('email')?.hasError('email');">
    <form>
      <ng-template matStepLabel>Information</ng-template>

      <div style="margin: 30px;">
        <span class="label">addresse magasin </span><label>{{magasin.addresse}}</label>
      </div>
      <div style="margin: 30px;">
        <div>
          <span class="label ">nom de l'agent </span><label>{{user.nom}}</label>
          <span class="label ">prenom de l'agent </span><label>{{user.prenom}}</label>
        </div>
      </div>
      <div style="margin: 30px;">
        <span class="label">produits </span><label>{{produit.nom}}</label>
        <span class="label">reference du produit</span><label>{{produit.reference}}</label>
        <span class="label">prix du produit</span><label>{{produit.prix}} dt</label>
      </div>


    </form>

    <div style="margin: 30px;">
      <form [formGroup]="creidtform" *ngIf="uisReaydp">
        <div>
          <span class="label">montant du credit</span>
          <input class="form-control" type="text" formControlName="montant" aria-label="Disabled input example"
            [disabled]="isDisabled">

        </div>
        <mat-error champ obligatoire *ngIf="creidtform.get('montant')?.hasError('required')">
          champ obligatoire
        </mat-error>
        <div class="input-group mb-3" style="margin: 10px;">
          <label class="input-group-text" for="inputGroupFile01">carte bancaire :</label>
          <input type="file" class="form-control" id="inputGroupFile01" (change)="selectFile($event);getcardinfo()">
        </div>
        <mat-error style="font-size: bold;" *ngIf="step2valid==false">
          choisir la carte bancaire
        </mat-error>
        <div>
          <p-progressSpinner *ngIf="spinn2" styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
           animationDuration=".5s"></p-progressSpinner>
        </div>
        
        <div *ngIf="card!=null">
          <span class="label">iban</span>
          <input class="form-control" type="text" formControlName="iban"  >
          <mat-error *ngIf="creidtform.get('iban')?.hasError('required')">
            champ obligatoire
          </mat-error>
        </div>
        <div style="margin-top: 30px;">
          <span class="label">nombre du mois</span>
          <input class="form-control" type="number" formControlName="nbrdumois">
          <mat-error *ngIf="creidtform.get('nbrdumois')?.hasError('required')">
            champ obligatoire
          </mat-error>
        </div>

      </form>
    </div>

    <div style="margin: 30px;">
      <button type="button" class="btn btn-secondary" matStepperPrevious>Back</button>
      &nbsp;
      <button type="button" class="btn btn-primary" matStepperNext [disabled]="creidtform.invalid">Next</button>

    </div>

  </mat-step>

  <mat-step *ngIf="step0valid==true&&step1valid==true&&step2valid==true;">
    <ng-template matStepLabel>Information du client</ng-template>
    <form [formGroup]="clienteleigibiliteform">
      <mat-form-field appearance="fill" *ngFor="let column of columns">
        <mat-label>{{ columnTranslations[column].label }}</mat-label>
        <mat-select [formControlName]="column">
          <mat-option [value]="null">{{ placeholder }}</mat-option>
          <mat-option *ngFor="let option of uniqueValues[column]" [value]="option">
            {{ columnTranslations[column].values[option] }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="clienteleigibiliteform.get(column)?.hasError('required')">
          Veuillez choisir une option
        </mat-error>
      </mat-form-field>
    </form>
    <mat-error >
      Tous les champs sont obligatoire
    </mat-error>
    
    
    
    
    


    <div style="margin: 30px;">
      <button type="button" class="btn btn-secondary" matStepperPrevious>Back</button>
      &nbsp;
      <button type="button" class="btn btn-primary" (click)="checkEligibility()" matStepperNext [disabled]="clienteleigibiliteform.invalid">Next</button>

    </div>

  </mat-step>
  <mat-step *ngIf="!isEligible&&step0valid==true&&step1valid==true&&step2valid==true">
    <ng-template matStepLabel>client non eligible</ng-template>
    <div style="margin: 30px;">
      <a class="url">sorry ! ce client n'est pas eligible pour un crédit </a>
      &nbsp;
    </div>
    <div>
      <button type="button" class="btn btn-warning" (click)="stepper.reset()">Reset</button>
      &nbsp;
      <button type="button" class="btn btn-secondary" matStepperPrevious>Back</button>
      &nbsp;
      <button type="button" class="btn btn-primary" (click)="submitr()">confirmer client</button>
    </div>
  </mat-step>
  <mat-step *ngIf="isEligible&&step0valid==true&&step1valid==true&&step2valid==true&&step3valid==true;">
    <ng-template matStepLabel>signature du contrat</ng-template>
    <div style="margin: 30px;">

      <a  style="color: green;font-weight: bold;">Félicitation       </a>
      <!-- <button type="button" class="btn btn-success">signé contrat</button> -->
      <a class="url" style="color: rgb(0, 9, 128);">terme du contrat</a>
      &nbsp;
    </div>
    <div >
      <button type="button" class="btn btn-warning" (click)="stepper.reset()">Reset</button>
      &nbsp;
      <button type="button" class="btn btn-secondary" matStepperPrevious>Back</button>
      &nbsp;
      <button  type="button" class="btn btn-primary" (click)="submit()">confirmer</button>
    </div>
  </mat-step>

</mat-vertical-stepper>