<div class="container-fluid mt--7" *ngIf="isReady" >


    <div class="row">
      <div class="col">
        <div class="card shadow">
  
          <div class="card-header border-0">
            <h3 class="mb-0">Liste des crédits</h3>
          </div>
  
          <div>
            <div class="table-responsive">
              <div class="example-header" style="margin: 10px;">
                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event)" placeholder="search">
                </mat-form-field>
              </div>
  
              <div class="example-container mat-elevation-z8">
  
                <mat-table [dataSource]="dataSource" matSort class="table align-items-center table-flush">
  
                  <!-- ID Column -->
                  <ng-container matColumnDef="creditId">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Crédit-Id </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <div>
                        {{row.creditId}}
                      </div>
  
  
                    </mat-cell>
                  </ng-container>
  
  
                  <!-- ID Column -->
                  <ng-container matColumnDef="montant">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Montant </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <div>
                        {{row.montant}}
                      </div>
  
  
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="iban">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Iban </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <div>
                        {{row.iban}}
                      </div>
  
  
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="nbrdumois">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre du mois </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <div>
                        {{row.nbrdumois}}
                      </div>
  
  
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="montantparmois">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Montant par mois </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <div>
                        {{row.montantparmois}}
                      </div>
  
  
                    </mat-cell>
                  </ng-container>
  
                  <ng-container matColumnDef="dateDebut">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Date Début </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <div>
                        {{row.dateDebut}}
                      </div>
  
  
                    </mat-cell>
                  </ng-container>
  
                  <ng-container matColumnDef="dateFin">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Date Fin </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <div>
                        {{row.dateFin}}
                      </div>
  
  
                    </mat-cell>
                  </ng-container>
  
                  <ng-container matColumnDef="clientId">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Client-Id </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <div>
                        {{row.user?.id}}
                      </div>
  
  
                    </mat-cell>
                  </ng-container>
  
                  <ng-container matColumnDef="clientnom">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Nom du client </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <div>
                        {{row.user?.nom}}
                      </div>
  
  
                    </mat-cell>
                  </ng-container>
  
  

                  <ng-container matColumnDef="clientprenom">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> prénom du client </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <div>
                        {{row.user?.prenom}}
                      </div>
  
  
                    </mat-cell>
                  </ng-container>
  
                  <ng-container matColumnDef="agentId">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Agent-Id </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <div>
                        {{row.agent?.id}}
                      </div>
  
  
                    </mat-cell>
                  </ng-container>
  
                  <ng-container matColumnDef="agentnom">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Nom de l'agent </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <div>
                        {{row.agent?.nom}}
                      </div>
  
  
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="option">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Option </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="text-right ">
                      <div *ngIf="this.role==ERole.ROLE_ADMIN">
                        <button  class="btn btn-warning" style="width: 85px;margin: 5px;"  [routerLink]="['/updatecredit/', row.creditId]">Modifier</button>
                       
                      </div>
  
  
  
                    </mat-cell>
                  </ng-container>
  
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;">
                  </mat-row>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
