<form [formGroup]="form">
    <div class="form-group mb-4">
        <label for="email">Email:</label>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-inbox"></i></span>
            <input type="text" pInputText id="email" formControlName="email" class="form-control" placeholder="Email">
        </div>
            <div class="alert alert-danger" *ngIf="form.get('email')!.errors?.['required']">Email is required</div>
             <div class="alert alert-danger" *ngIf="form.get('email')!.errors?.['email']">Email must be a valid email address</div> 

    </div>
</form>

<div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
    <button type="button" class="btn btn-primary btn-lg" (click)="send()" [disabled]="form.invalid">ajouter</button>
</div>
