<div class="container-fluid mt--7">

    <div class="card shadow" style="height: 500px;background-image: url('../assets/entreprise.jpg'); background-size: 50% auto;">
        <div style="text-align: center;margin-top: 10%;margin-left: 130px;">
            <form [formGroup]="produiteform">
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>nom</mat-label>
                        <input matInput formControlName="nom">
                    </mat-form-field>
    
                </div>
                <mat-error *ngIf="produiteform.get('nom')?.hasError('required')">
                    champ obligatoire
                  </mat-error>
                <div >
                    <mat-form-field appearance="fill">
                        <mat-label>prix</mat-label>
                        <input matInput type="number" formControlName="prix">
                    </mat-form-field>
                </div>
                <mat-error *ngIf="produiteform.get('prix')?.hasError('required')">
                    champ obligatoire
                  </mat-error>
                
            </form>
        </div>

        <div style="text-align: center;" >
            <form *ngIf="role=='ROLE_ENTREPRENEUR'" [formGroup]="entform">
                <label>
                    entreprise
                </label>
                <mat-form-field appearance="fill">
                    <mat-label>Choose an option</mat-label>
                    <mat-select formControlName="entrpriseId" (selectionChange)="getmagasins($event)">
                      <mat-option *ngFor="let c of listofEntreprise" [value]="c.entrpriseId">
                        {{ c.nom }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

            </form>
            <form *ngIf="(role=='ROLE_ENTREPRENEUR')&&this.loadingm" [formGroup]="magform" >
                <label>
                    Magasin
                </label>
                <mat-form-field appearance="fill">
                    <mat-label>Choose an option</mat-label>
                    <mat-select matNativeControl formControlName="magasinId">
                        <mat-option *ngFor="let c of listofMagasin" [value]="c.magasinId">{{ c.addresse
                            }}</mat-option>

                    </mat-select>
                </mat-form-field>

            </form>
        </div>
        <div mat-dialog-actions>

            <button mat-button class="btn btn-dark btn-lg " [disabled]="produiteform.invalid" (click)="ajouter()" style="text-align: center;margin-left: 400px;">ajouter
                produit</button>
        </div>
    </div>
</div>