<div class="container-fluid mt--7">

    <div class="card shadow" style="height: 500px;background-image: url('../assets/entreprise.jpg'); background-size: 50% auto;">
        <div style="text-align: center;margin-top: 10%;margin-left: 130px;">
            <form [formGroup]="produiteform">
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Nom</mat-label>
                        <input matInput formControlName="nom">
                    </mat-form-field>
    
                </div>
                <mat-error *ngIf="produiteform.get('nom')?.hasError('required')">
                    Champ obligatoire
                  </mat-error>
                <div >
                    <mat-form-field appearance="fill">
                        <mat-label>Prix</mat-label>
                        <input matInput type="number" formControlName="prix">
                    </mat-form-field>
                </div>
                <mat-error *ngIf="produiteform.get('prix')?.hasError('required')">
                    Champ obligatoire
                  </mat-error>
                
            </form>
        </div>

        <div style="text-align: center;" >
            <form *ngIf="role=='ROLE_ENTREPRENEUR'" [formGroup]="entform">
                <div>
                    <label>
                        Entreprise
                    </label>
                    <mat-form-field appearance="fill">
                        <mat-label>Choisir une option</mat-label>
                        <mat-select formControlName="entrpriseId" (selectionChange)="getmagasins($event)">
                          <mat-option *ngFor="let c of listofEntreprise" [value]="c.entrpriseId">
                            {{ c.nom }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div style="margin-left: 120px;">
                    <mat-error *ngIf="!this.entform.get('entrpriseId')?.value">
                        Champ obligatoire
                      </mat-error>
                </div>
            </form>
            <form *ngIf="(role=='ROLE_ENTREPRENEUR')&&this.loadingm" [formGroup]="magform" >
                <label>
                    Magasin
                </label>
                <mat-form-field appearance="fill">
                    <mat-label>Choisir une option</mat-label>
                    <mat-select matNativeControl formControlName="magasinId">
                        <mat-option *ngFor="let c of listofMagasin" [value]="c.magasinId">{{ c.addresse
                            }}</mat-option>

                    </mat-select>
                </mat-form-field>
                <mat-error style="margin-left: 120px;" *ngIf="!this.magform.get('magasinId')?.value">
                    Champ obligatoire
                  </mat-error>
            </form>
        </div>
        <div mat-dialog-actions>

            <button mat-button *ngIf="role=='ROLE_ENTREPRENEUR'" class="btn btn-dark btn-lg " [disabled]="produiteform.invalid||!this.magform.get('magasinId')?.value"
             (click)="ajouter()" style="text-align: center;margin-left: 400px;">Confirmer</button>
             <button mat-button *ngIf="role=='ROLE_AGENT'" class="btn btn-dark btn-lg " [disabled]="produiteform.invalid"
             (click)="ajouter()" style="text-align: center;margin-left: 400px;">Confirmer</button>
        </div>
    </div>
</div>